/* ===================
--------Base--------
=====================*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-size: 16px;
  background-color: #ffff;
  position: relative;
}

body.overflow-hidden {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  display: block;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.accent {
  color: #2e2f42;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}

.icon-container svg {
  width: 64px;
  height: 64px;
}

.img-container {
  padding: 32px 0;
}

/* ===================
--------Header--------
=====================*/

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.header-nav-menu {
  display: flex;
  gap: 40px;
}

.link {
  color: #2e2f42;
  position: relative;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
  padding: 24px 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: #404bbf;
}

.select {
  color: #404bbf;
}

.select::after {
  content: "";
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background: #404bbf;
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
}
.address-menu {
  display: flex;
  gap: 40px;
  font-style: normal;
}

.address-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.address-item:hover,
.address-item:focus {
  color: #404bbf;
}

.address-menu .address-link a {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ===================
    ---Hero-section---
=====================*/

.hero {
  max-width: 1440px;
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.main-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.07;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.btn {
  cursor: pointer;
  color: #fff;
  background: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  border-radius: 4px;
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  margin: 0 auto;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
}

/* ===================
---Advantages-section---
=====================*/

.advantages {
  padding: 120px 0;
}

.advantages-menu {
  display: flex;
  gap: 24px;
}

.advantages-menu-item {
  margin-bottom: 32px;
  width: calc((100% - 72px) / 4);
}

.advantages-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.advantages-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ===================
---Our-team-section---
=====================*/

.our-team-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.our-team-title {
  color: #2e2f42;
  background-color: #f4f4fd;
  font-size: 36px;
  text-align: center;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  line-height: 1.11;
  margin-bottom: 72px;
}

.our-team-menu {
  display: flex;
  align-items: center;
  gap: 24px;
}

.our-team-list {
  background: #fff;
  display: inline-flex;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc((100% - 72px) / 4);
  margin: 0 auto;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.our-team-img {
  background: lightgray;
  flex-shrink: 0;
}

.our-team-container {
  padding: 32px 0;
}

.our-team-subtitle {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin-bottom: 8px;
}

.our-team-text {
  text-align: center;
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.5;
  margin-bottom: 8px;
}

.our-team-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-icon {
  fill: #f4f4fd;
}

.social-link {
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

/* ===================
---Portfolio-section---
=====================*/

.portfolio-section {
  background-color: #fff;
  padding: 120px 0 120px 0;
}

.portfolio-container {
  margin: 0 auto;
}

.portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  line-height: 1.11;
  margin-bottom: 72px;
}

.portfolio-menu {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-menu-item {
  width: calc((100% - 48px) / 3);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-wrapper .portfolio-item-text {
  position: absolute;
  padding: 40px 32px;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #4d5ae5;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-menu-item:hover .portfolio-item-text {
  transform: translateY(0);
}

.portfolio-menu-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin-bottom: 8px;
}

.portfolio-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

/* ===================
--------Footer--------
=====================*/

.footer {
  background: #2e2f42;
  flex-shrink: 0;
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-holder {
  margin-right: 120px;
}

.footer-logo {
  color: #4d5ae5;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  line-height: 1.17;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-accent {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  width: 264px;
}

.footer-social-descr {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-social-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-icon {
  fill: #f4f4fd;
}

.footer-form {
  margin-left: 80px;
  display: flex;
  gap: 24px;
}

.footer-middle-text {
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  margin-left: 80px;
}

.footer-input {
  color: #ffffff;
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-input::placeholder {
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
}

.footer-btn {
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #ffffff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  height: 40px;
  min-width: 165px;
  cursor: pointer;
  border: none;
}

.footer-btn-icon {
  fill: #fff;
  margin-left: 16px;
}

/* ===================
--------Modal--------
=====================*/

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

.modal.active {
  opacity: 1;
  visibility: visible;
}

.modal-wrapper {
  padding: 24px;
  border-radius: 4px;
  width: 100%;
  max-width: 408px;
  height: fit-content;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.modal-wrapper__action--close {
  cursor: pointer;
  border: none;
  background: none;
  position: absolute;
  top: 24px;
  right: 24px;
}

.modal-wrapper__content {
  margin-top: 24px;
}

.modal-wrapper__content--title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.modal-wrapper__content form {
  margin-top: 16px;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-item label {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 4px;
}

.input-item label span {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #8e8f99;
  text-align: left;
  flex: 1;
}

.input-item label input:not(input[type="checkbox"]) {
  padding: 8px 16px 8px 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  transition: border 0.3s ease;
  background-position: 5px center;
}

.input-item__field {
  width: 100%;
}

.input-item label textarea {
  resize: none;
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
}

/* placeholder */

.input-item label textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.input-item label textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.input-item label textarea:-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.input-item label textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.input-item label textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.input-item label textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

/* placeholder */

.input-item label input:not(input[type="checkbox"]):focus,
.input-item label input:not(input[type="checkbox"]):focus-visible {
  border: 1px solid #4d5ae5;
  outline: none;
}

.input-item label textarea:focus,
.input-item label textarea:focus-visible {
  border: 1px solid #4d5ae5;
  outline: none;
}

.input-item__field {
  position: relative;
  display: inline-block;
}

.input-item__field svg {
  position: absolute;
  left: 19px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.input-item__field input:focus + svg path,
.input-item__field input:focus-visible + svg path {
  fill: #4d5ae5;
}

.input-item__field svg path {
  transition: fill 0.3s ease;
}

.input-item.checkbox-item {
  margin-top: 8px;
}

.input-item.checkbox-item label {
  position: relative;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.input-item.checkbox-item label span a {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

#termsCheckbox {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.custom-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  display: inline-block;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
}

.custom-checkbox::after {
  content: "";
  position: absolute;
  display: none;
  left: 5px;
  top: 0;
  width: 6px;
  height: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

#termsCheckbox:checked + .custom-checkbox::after {
  display: block;
}

.terms-label {
  vertical-align: middle;
  margin-left: 8px;
}

.form-content .btn {
  margin-top: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
